body{

    margin:0;
    padding:20px;
    background:#ffeaf5;
    font-family:sans-serif;

}

.back-btn{

display:inline-block;
text-decoration:none;
color:white;
background:#ff4f9a;
padding:12px 22px;
border-radius:15px;
font-weight:bold;
margin-bottom:20px;

}

.title{

text-align:center;
color:#ff4f9a;
margin-bottom:5px;

}

.subtitle{

text-align:center;
color:#777;
margin-bottom:30px;

}

.top-buttons{

display:flex;
justify-content:center;
margin-bottom:25px;

}

#addPhotoBtn{

background:#ff4f9a;
color:white;
border:none;
padding:15px 28px;
border-radius:18px;
font-size:17px;
font-weight:bold;
cursor:pointer;
box-shadow:0 8px 20px rgba(255,79,154,.25);

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(180px,1fr));

gap:22px;

padding-bottom:40px;

}

.photo-card{

background:white;

padding:12px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,.12);

cursor:pointer;

transition:.25s;

}

.photo-card:hover{

transform:translateY(-5px) rotate(-2deg);

}

.photo-card img{

width:100%;

aspect-ratio:1/1;

object-fit:cover;

border-radius:4px;

}

.photo-text{

margin-top:12px;

text-align:center;

font-family:cursive;

font-size:17px;

color:#555;

min-height:45px;

}

.photo-modal{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.82);

justify-content:center;

align-items:center;

z-index:999;

}

.photo-window{

background:white;

width:92%;

max-width:600px;

padding:18px;

border-radius:20px;

}

#fullPhoto{

width:100%;

border-radius:12px;

margin-bottom:15px;

}

#photoCaption{

width:100%;

height:90px;

border-radius:12px;

padding:12px;

font-size:16px;

resize:none;

box-sizing:border-box;

}

.modal-buttons{

display:flex;

justify-content:center;

margin-top:15px;

}

#saveCaption{

background:#ff4f9a;

color:white;

border:none;

padding:13px 30px;

border-radius:14px;

font-size:16px;

cursor:pointer;

}

#closePhoto{

float:right;

font-size:28px;

cursor:pointer;

}